:root {
	font-family: system-ui, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--background-primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--hover-bg: rgba(255 255 255 / 0.314);
	--background-primary: #242424;
	--background-secondary: #202020;
	--sidebar-width: 200px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#loadingScreen {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	width: 100vw;
	height: 100vh;
}

#loadingText {
}

#app {
	display: flex;
}

#channels {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: var(--sidebar-width);
	background-color: var(--background-secondary);
}

.list-tab {
	padding: 5px;
}

.list-tab:hover {
	background: var(--hover-bg)
}

.view {
	box-sizing: border-box;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	width: calc(100vw - var(--sidebar-width));
	height: 100vh;
	background-color: var(--background-primary);
}

#view-head {
	display: flex;
	margin: 30px 20px;
	justify-content: center;
}

.view-title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.form {
	box-sizing: border-box;
}

.form-head {
	display: flex;
	margin: 30px 20px;
	justify-content: center;
}

.form-title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.form-body {
	display: flex;
	flex-direction: column;
	margin: 20px;
	gap: 10px;
}

.form-input {
	box-sizing: border-box;
	padding: 8px;
	outline: none;
	font-size: 22px;
}

.form-text-input {

}

.form-textarea {
	resize: none;
	height: 5em;
}

.form-button {
	width: fit-content;
	cursor: pointer;
	padding: .38em 1.4em;
}

.form-input,
.form-input:hover,
.form-input:active {
	border: none;
	border-radius: 5px;
}

#forum-view {
	box-sizing: border-box;
	padding: 20px;
	gap: 20px;
}

#post-previews {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 0 auto;
	gap: 20px;
	align-content: flex-start;
}

.post-preview {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 200px;
	background: var(--background-secondary);
	border-radius: 5px;
	padding: 10px;
	gap: 10px;
	overflow: hidden;
}

.post-preview-title {
	font-size: 26px;
}

.post-preview-description {
	flex: 1 0 auto;
	overflow: hidden;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
